@use '../variables';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    &--primary{
        color: variables.$text_secondary;
        background-color: variables.$text;
        border: 1px solid variables.$text;

        &:hover{
            color: variables.$text;
            background-color: transparent;
        }
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}